<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Calculator</title>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        function updateDisplay(number) {
            if (number !== undefined) {
                document.getElementById('display').value += number;
            }
        }

        function sendData() {
            $.ajax({
                type : "POST",
	            url : '/calculate',
	            dataType: "json",
	            data: JSON.stringify(document.getElementById('display').value),
	            contentType: 'application/json;charset=UTF-8',
	        });
	    }
    </script>

    <form>
        <input type="text" readonly="readonly" id="display"><br>
        <input type="button" value="C" name="clear" onclick="document.getElementById('display').value=''">
        <input type="button" value="%" name="mod" onclick="updateDisplay('%')">
        <input type="button" value="÷" name="divide" onclick="updateDisplay('÷')"><br>
        <input type="button" value="7" name="seven" onclick="updateDisplay('7')">
        <input type="button" value="8" name="eight" onclick="updateDisplay('8')">
        <input type="button" value="9" name="nine" onclick="updateDisplay('9')">
        <input type="button" value="×" name="multiply" onclick="updateDisplay('×')"><br>
        <input type="button" value="4" name="four" onclick="updateDisplay('4')">
        <input type="button" value="5" name="five" onclick="updateDisplay('5')">
        <input type="button" value="6" name="six" onclick="updateDisplay('6')">
        <input type="button" value="-" name="subtract" onclick="updateDisplay('-')"><br>
        <input type="button" value="1" name="one" onclick="updateDisplay('1')">
        <input type="button" value="2" name="two" onclick="updateDisplay('2')">
        <input type="button" value="3" name="three" onclick="updateDisplay('3')">
        <input type="button" value="+" name="add" onclick="updateDisplay('+')"><br>
        <input type="button" value="0" name="0" onclick="updateDisplay('0')">
        <input type="button" value="." name="decimal" onclick="updateDisplay('.')">
        <input type="button" value="=" name="equals" onclick="sendData()">
    </form>
</head>
<body>

</body>
</html>